.link_piece:hover { 
    cursor: pointer;
}

.bottom_tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;

}



.tabs_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 30px;

}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    max-height: 50px;
    height: 50px;
    width: 200px;
    margin-top: 50px;
    background-color: rgb(87, 25, 0);
    border-radius: 45px;
    box-shadow: rgb(167, 167, 167) 0px 0px 15px;
    transition: 0.4s;

}


.tabs:hover {
color: white;
    box-shadow: rgb(107, 107, 107) 0px 0px 15px;
    transform: scale(1.03);
    transition: 0.4s;
    background-color: rgb(72, 0, 0);



}

.tabs p {
    color: whitesmoke;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;

}


@media screen and (min-width:200px)  and (max-width:300px)and (orientation:portrait){
.tabs_wrapper{ 
    gap: 10px;
}
    .tabs { 
        width: 100px;
    }
    
}
@media screen and (min-width:200px)  and (max-width:300px)and (orientation:landscape){
    .tabs_wrapper{ 
        gap: 10px;
    }
        .tabs { 
            width: 100px;
        }
    
}


@media screen and (min-width:300px)  and (max-width:400px)and (orientation:portrait){
    .tabs_wrapper{ 
        gap: 20px;
    }
        .tabs { 
            width: 150px;
        }
    
}
@media screen and (min-width:300px)  and (max-width:400px)and (orientation:landscape){

    .tabs_wrapper{ 
        gap: 20px;
    }
        .tabs { 
            width: 150px;
        }
}


@media screen and (min-width:400px)  and (max-width:500px)and (orientation:portrait){
    .tabs_wrapper{ 
        gap: 20px;
    }
        .tabs { 
            width: 150px;
        }
    
}
@media screen and (min-width:400px)  and (max-width:500px)and (orientation:landscape){
    .tabs_wrapper{ 
        gap: 20px;
    }
        .tabs { 
            width: 150px;
        }
}